.title{
    font-size: 50px;
}

.current-city{
   border-style: ridge;
   border: solid;
   border-radius: 1.25rem;
}

.card-style{
    border: solid;
    border-radius: 1.25rem;
    margin: 0.5rem;
}

.display{
    display:none;
}