html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
display: flex;
justify-content: space-between;
max-width: 1440px;
margin: auto;
}

.section__weather{
    display: flex;
    flex-direction: column;
    padding: 64px;
    width: 60%;
    height: 100vh;
    justify-content: space-between;
}

.header__title{
   font-weight: 600;
   text-transform: uppercase;
}

.weather__details{
    display: flex;
    height: 20%;
    justify-content: space-between;
    font-weight: 600;
    align-items: center;
    padding-right: 3rem;
}

.weather__details h2{
    font-size: 16rem;
    font-weight: 600;
}

.weather__details p {
    font-size: 4rem;
    font-weight: 400;
}

.section__dashboard{
    display: flex;
    flex-direction: column;
    padding: 64px;
    width: 60%;
    height: 100vh;
    justify-content: space-between;
    position: relative;
}

.city{
    height: 50%;
    padding: 24px;
}


.form__search{
    display: flex;
    padding-left: 40px;
    margin-bottom: 60px;
}

.form__search input{
    padding: 1rem;
    border-style: none;
    font-size: 26px;
    font-family: 'Roboto';
    border-bottom: 3px solid black;
    width: 60%;

}

.form__search button{ 
    position: absolute;
        background-color: #;
        border: none;
        padding: 45px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        top:0;
        right: 0;
      }

        .form__search button:hover{
            background-color: #;
            color: white;
            cursor: pointer;
        }

    .city__list{
        padding: 30px 40px;
        list-style: none;
        display: flex  ;
        flex-direction: column;
        gap: 30px;
    }

    .city__list li{
        font-size: 20px;
    }

    .city__details{
        height: 50%;
        padding: 24px;

    }